<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Bebidas
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

<ion-searchbar></ion-searchbar>

<ion-grid>
  <ion-row>
    <ion-col size="6">
      <ion-card>
          <img src="https://static.clubeextra.com.br/img/uploads/1/801/12293801.jpeg" />
          <ion-item>
            <ion-label>CocaCola</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>5,00</ion-label>
            <ion-badge><ion-icon name="cart-outline"></ion-icon></ion-badge>
          </ion-item>
      </ion-card>
    </ion-col>
    
    <ion-col size="6">
      <ion-card>
          <img src="https://static.clubeextra.com.br/img/uploads/1/415/19804415.jpg"/>
          <ion-item>
            <ion-label>Guarana</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>5,00</ion-label>
            <ion-badge><ion-icon name="cart-outline"></ion-icon></ion-badge>
          </ion-item>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-grid>
  <ion-row>
    <ion-col size="6">
      <ion-card>
          <img src="https://static.clubeextra.com.br/img/uploads/1/249/619249.jpg" />
          <ion-item>
            <ion-label>Pepsi</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>5,00</ion-label>
            <ion-badge><ion-icon name="cart-outline"></ion-icon></ion-badge>
          </ion-item>
      </ion-card>
    </ion-col>

    <ion-col size="6">
      <ion-card>
          <img src="https://static.clubeextra.com.br/img/uploads/1/918/23008918.png"/>
          <ion-item>
            <ion-label>Fanta</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>5,00</ion-label>
            <ion-badge><ion-icon name="cart-outline"></ion-icon></ion-badge>
          </ion-item>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-grid>
  <ion-row>
    <ion-col size="6">
      <ion-card>
          <img src="https://static.paodeacucar.com/img/uploads/1/623/17634623.png" />
          <ion-item>
            <ion-label>Heineken</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>5,00</ion-label>
            <ion-badge><ion-icon name="cart-outline"></ion-icon></ion-badge>
          </ion-item>
      </ion-card>

    </ion-col>
    <ion-col size="6">
      <ion-card>
          <img src="https://gbarbosa.vtexassets.com/arquivos/ids/176382/6286997fc7ea5cd9ed9c307d.png?v=637885851225430000"/>
          <ion-item>
            <ion-label>Brahma</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>5,00</ion-label>
            <ion-badge><ion-icon name="cart-outline"></ion-icon></ion-badge>
          </ion-item>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>

</ion-content>
